html {
	font-size:10px;
	font-family: 'Ubuntu Mono', ;
	background-color: #00539F;
}

h1 {
	margin:0;
	font-size: 60px;
	padding: 20px 0;
	color: #00539F;
	text-shadow: 3px 3px 1px black;
}
h2 {
	font-size: 50px;
	text-alight: center;
}
h3 {
	font-size: 40px;
	text-alight: center;
}
h4 {
	font-size: 30px;
	text-alight: center;
}

body {
	width: 600px;
	margin: 0 auto;
	background-color: #FF9500;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
}

p,li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}

img {
	display: block;
	margin: 0 auto;
}